---
layout:         showcase
permalink:      /portfolio/buildingconnected/
title:          Building Connected | Design by Jonathan Chen
---

        <div class="showcase intro buildingconnected clearfix">
            <div class="showcase-gradient"></div>
            <div class="project-title">
                <h2>Building Connected</h2>
                <p class="catchphrase">Bid Management Simplified</p>
            </div>
            {% include scrolldown.html %}
        </div>

        <div class="showcase">
            <div class="synopsis buildingconnected">
                <div class="container">
                    <h3>Synopsis</h3>
                    <p><a href="http://www.buildingconnected.com" target="_blank">BuildingConnected</a> is a construction communication platform with a refreshingly different approach. I had the wonderful chance of helping them out in their early beta stages of reskinning their homepage and web application. Here's to a prosperous future for the company.</p>
                </div>
            </div>
            <div class="tidbits">
                <div class="container">
                    <div class="left">
                        <h3>Reskinning the Young Product</h3>
                        <p>As the product was in a pretty early stage, my main task was to reskin the UI and incorporate more of their brand throughout their web application. By working closely with the founders of the company, we communicated about what BuildingConnected was looking for and what they wanted their customers to feel when using their product. After a couple of revisions and iterations, we came to the following look and feel.</p>
                    </div>
                    <div class="right">
                        <figure>
                            {% include browser.html %}
                            <img src="/img/buildingconnected-homepage0.jpg" alt="" />
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/buildingconnected-homepage1.jpg" alt="" />
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/buildingconnected-app.jpg" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
