---
layout:         showcase
permalink:      /portfolio/coolwallets/
title:          Cool Wallet S by CoinGate | Design by Jonathan Chen
---

        <div class="showcase intro coolwallets clearfix">
            <div class="showcase-gradient"></div>
            <div class="project-title">
                <h2>Cool Wallet S</h2>
                <p class="catchphrase">Everyday Hardware for Your Cryptocurrency</p>
            </div>
            {% include scrolldown.html %}
        </div>

        <div class="showcase">
            <div class="synopsis coolwallets">
                <div class="container">
                    <h3>Synopsis</h3>
                    <p>Cool Wallet S is a bluetooth hardware wallet for Bitcoin, Ethereum, Litecoin, XRP, Bitcoin Cash, and ERC20 Tokens. I had the chance to design for CoinGate, who is one of the first retailers of this cryptocurrency wallet in Japan. The purpose is to create a visually appealing product description page with a purchase option.</p>
                </div>
            </div>
            <div class="tidbits">
                <div class="container">
                    <div class="left">
                        <h3>Iterative Design</h3>
                        <p>CoinGate wanted to create an impactful visual when users land to the product page via ads, promotional flyers, or word of mouth. I worked closely with the CEO and we brainstormed together on different ideas. Since their target audience was in a fairly young age group, I decided to go for a more modern approach where a simple design that says less is more.</p>
                    </div>
                    <div class="right">
                        <figure>
                            <img src="/img/coolwallets-idea.jpg" alt="Cool Wallet S">
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/coolwallets-large.jpg" alt="Cool Wallet S" />
                        </figure>
                        <div class="iphoneX">
                            <figure class="ns">
                                <img src="/img/coolwallets-ios-0.jpg" alt="Cool Wallet S">
                            </figure>
                            <figure class="ns">
                                <img src="/img/coolwallets-ios-1.jpg" alt="Cool Wallet S">
                            </figure>
                            <figure class="ns">
                                <img src="/img/coolwallets-ios-2.jpg" alt="Cool Wallet S">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tidbits">
                <div class="container">
                    <div class="left">
                        <h3>Event in Tokyo</h3>
                        <p>I also helped design CoinGate's flyer for one of the largest Cryptocurrency Exhibition in Tokyo, in which they participated.</p>
                    </div>
                    <div class="right">
                        <figure>
                            <img src="/img/coolwallets-chirashi.jpg" alt="Cool Wallet S" />
                        </figure>
                    </div>
                </div>
            </div>
