---
layout:         showcase
permalink:      /portfolio/crowdbank/
title:          Crowd Bank | Design & Development by Jonathan Chen
---

        <div class="showcase intro crowdbank clearfix">
            <div class="showcase-gradient"></div>
            <div class="project-title">
                <h2>Crowd Bank</h2>
                <p class="catchphrase">Asset Management Experience for Everyone</p>
            </div>
            {% include scrolldown.html %}
        </div>

        <div class="showcase">
            <div class="synopsis crowdbank">
                <div class="container">
                    <h3>Synopsis</h3>
                    <p><a href="https://crowdbank.jp" target="_blank">Crowd Bank</a> is a FinTech company with a mission to make investment easy for everyone. As one of the largest social lending platforms in Japan, our service allows you to invest in funds/projects &ndash; businesses (SME, Renewable Energies, IPO companies, etc.) that need to raise money &ndash; and in return you also grow your assets. I am currently the Lead Designer at Crowd Bank and in charge of everything visual, as well as most of the front-end web development. Everyday we make improvements on the UI/UX of the product to provide our customers with the best experience.</p>
                </div>
            </div>
            <div class="tidbits">
                <div class="container">
                    <div class="left">
                        <h3>Designing at Crowd Bank</h3>
                        <p>From Visual to UX and billboards to flyers, I am pretty much in charge of everything design. With the rise of smartphone usage in Japan, my first task after joining the team at Crowd Bank was to make our interface mobile friendly. This meant working closely with the Directors, Marketing Team, and listening to customers in order to create a new design and make adjustments to the product. From there on forward, it's an iterative process of redesign and improvements of the UI/UX via customer feedback and our vision for a better service. </p>
                    </div>
                    <div class="right">
                        <figure>
                            {% include browser.html %}
                            <img src="/img/crowdbank-homepage.jpg" alt="Crowd Bank" />
                        </figure>
                       <div class="iphoneX">
                            <figure class="ns">
                                <img src="/img/crowdbank-ios-0.jpg" alt="Crowd Bank">
                            </figure>
                            <figure class="ns">
                                <img src="/img/crowdbank-ios-1.jpg" alt="Crowd Bank">
                            </figure>
                            <figure class="ns" style="margin-bottom: 2rem;">
                                <img src="/img/crowdbank-ios-2.jpg" alt="Crowd Bank">
                            </figure>
                        </div>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/crowdbank-mypage-00.jpg" alt="Crowd Bank">
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/crowdbank-mypage-01.jpg" alt="Crowd Bank">
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/crowdbank-fundpage.jpg" alt="Crowd Bank">
                        </figure>
                        <div class="iphoneX">
                            <figure class="ns">
                                <img src="/img/crowdbank-ios-3.jpg" alt="Crowd Bank">
                            </figure>
                            <figure class="ns">
                                <img src="/img/crowdbank-ios-4.jpg" alt="Crowd Bank">
                            </figure>
                            <figure class="ns">
                                <img src="/img/crowdbank-ios-5.jpg" alt="Crowd Bank">
                            </figure>
                        </div>

                   </div>
                </div>
            </div>
            <div class="tidbits">
                <div class="container">
                    <div class="left">
                        <h3>Crowd Bank TVCM</h3>
                        <p>When we first aired our TV commercial, we did a whole reskin of our product. I did the design and brushed up our interfaces around our app. Internally, I also designed the dashboard to monitor our daily data.</p>
                    </div>
                    <div class="right">
                        <figure>
                            {% include browser.html %}
                            <img src="/img/crowdbank-dashboard.jpg" alt="Crowd Bank">
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/crowdbank-wireframe.jpg" alt="Crowd Bank" />
                        </figure>
                       <figure>
                            {% include browser.html %}
                            <img src="/img/crowdbank-cm.jpg" alt="Crowd Bank">
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/crowdbank-about.jpg" alt="Crowd Bank" />
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/crowdbank-lp.jpg" alt="Crowd Bank" />
                        </figure>
                   </div>
                </div>
            </div>
