---
layout:         showcase
permalink:      /portfolio/gsp/
title:          Global Sports Product | Design by Jonathan Chen
---

        <div class="showcase intro gsp clearfix">
            <div class="showcase-gradient"></div>
            <div class="project-title">
                <h2>Global Sports Product</h2>
            </div>
            {% include scrolldown.html %}
        </div>

        <div class="showcase">
            <div class="synopsis">
                <div class="container">
                    <h3>Synopsis</h3>
                    <p>I had the wonderful oppurtunity to redesign for <a href="http://www.gsp.ca" target="_blank">GSP</a> and work alongside with some talented developers. The main purpose of the website design is to educate their customers about what products are being offered. Because GSP has to update their content after the website goes live, this website is running on Wordpress CMS.</p>
                </div>
            </div>
            <div class="tidbits">
                <div class="container">
                    <div class="left">
                        <h3>Collaborating using Wordpress</h3>
                        <p>Being that this is a design for the intention of running on WordPress, everything was being designed in modules, widgets, and being broken up into different sections to give GSP the utmost control over their content. The WordPress developers and I would then collaborate together to finish the coding part of this Wordpress site.</p>
                    </div>
                    <div class="right">
                        <figure>
                            {% include browser.html %}
                            <img src="/img/gsp0.jpg" alt="Global Sports Product" />
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/gsp1.jpg" alt="Global Sports Product" />
                        </figure>
                    </div>
                </div>
            </div>
            