---
layout:         showcase
permalink:      /portfolio/jonathanchen/
title:          My Portfolio | Design &amp; Development by Jonathan Chen
---

        <div class="showcase intro jonathanchen clearfix">
            <div class="showcase-gradient"></div>
            <div class="project-title">
                <h2>Jonathan Chen</h2>
                <p class="catchphrase">Behind the Portfolio Website</p>
            </div>
            {% include scrolldown.html %}
        </div>

        <div class="showcase">
            <div class="synopsis jonathanchen">
                <div class="container">
                    <h3>Synopsis</h3>
                    <p>It's been a long journey. It's been around 4 years since I last updated my portfolio website. So much has changed in the digital world since then, I almost felt a little sick in my stomach looking at my old website, but hopefully, you won't feel the same sickness.</p>
                </div>
            </div>
            <div class="tidbits">
                <div class="container">
                    <div class="left">
                        <h3>My First Responsive Website</h3>
                        <p>This was when <a href="http://www.alistapart.com/articles/responsive-web-design/" target="_blank">responsive design</a> and <a href="http://www.lukew.com/ff/entry.asp?933" target="_blank">mobile-first</a> approach started making itself into the mainstream thanks to the iPhone. It is also when I decided to tackle this field and try to further increase my knowledge regarding the web. Different screen sizes, different devices, different operating systems... just got to make it a beautiful experience all across.</p>
                    </div>
                    <div class="right">
                        <figure>
                            {% include browser.html %}
                            <img src="/img/jonathanchen0.jpg" alt="Jonathan Chen" />
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/jonathanchen1.jpg" alt="Jonathan Chen" />
                        </figure>
                        <figure>
                            <img src="/img/jonathanchen2.jpg" alt="Jonathan Chen" />
                        </figure>
                        <figure>
                            <img src="/img/jonathanchen3.jpg" alt="Jonathan Chen" />
                        </figure>
                    </div>
                </div>
            </div>
            