---
layout:         showcase
permalink:      /portfolio/nomic/
title:          Nomic | Design & Development by Jonathan Chen
---

        <div class="showcase intro nomic clearfix">
            <div class="showcase-gradient"></div>
            <div class="project-title">
                <h2>Nomic</h2>
                <p class="catchphrase">People are the soul of the Economy</p>
            </div>
            {% include scrolldown.html %}
        </div>

        <div class="showcase">
            <div class="synopsis nomic">
                <div class="container">
                    <h3>Synopsis</h3>
                    <p><a href="http://www.nomic.com" target="_blank">Nomic</a> is building a web &amp; mobile application which helps businesses find good people and people find good jobs. It was a lot of fun while working at Nomic. Everyday we'd be tackling problems left and right; trying to come up with solutions. Some were experimental, some were in production, and some never made it beyond the initial sketch. I had a great time working together with talented engineers, designers, and the bosses. There was laughter, there was anger, but at the end of the day, all we wanted to do was to build a beautiful product for our users.</p>
                </div>
            </div>
            <div class="tidbits">
                <div class="container">
                    <div class="left">
                        <h3>Designing at Nomic</h3>
                        <p>From websites to t-shirts, I was pretty much in charge of everything design. The process starts on the whiteboard after an initial discussion or meeting. Then, quick design on screen, and prototyping to get a general feel of the flow. Each time, I'd be working closely with the engineers and then re-iterating afterwards. Once it's ready to meet users' end, we'd conduct usability testing to make sure everything works smoothly. Rinse &amp; Repeat.</p>
                    </div>
                    <div class="right">
                        <figure>
                            {% include browser.html %}
                            <img src="/img/nomic-homepage.jpg" alt="Nomic" />
                        </figure>

                        <figure>
                            {% include browser.html %}
                            <img src="/img/nomic-blog.jpg" alt="Nomic">
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/nomic-app-web0.jpg" alt="Nomic">
                        </figure>
                        <figure>
                            {% include browser.html %}
                            <img src="/img/nomic-app-web1.jpg" alt="Nomic">
                        </figure>
                        <div class="iphone">
                            <figure>
                                <img src="/img/nomic-app-ios0.jpg" alt="Nomic">
                                <img src="/img/iphone.svg" class="iphone" alt="">    
                            </figure>
                            <figure>
                                <img src="/img/nomic-app-ios1.jpg" alt="Nomic">
                                <img src="/img/iphone.svg" class="iphone" alt="">
                            </figure>
                            <figure>
                                <img src="/img/nomic-app-ios2.jpg" alt="Nomic">
                                <img src="/img/iphone.svg" class="iphone" alt="">
                            </figure>
                        </div>
                        <figure>
                            <img src="/img/nomic-print.jpg" alt="Nomic">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="tidbits">
                <div class="container">
                    <div class="left">
                        <h3>Our daily whiteboard</h3>
                        <p>This was where we spent most of our time if we're not yelling in front of a screen. We'd be sketching ideas, wireframes, frontend/backend structure, API, or cartoons from sunrise to sunset. Just wanting to come up with an experience that makes sense. </p>
                    </div>
                    <div class="right">
                        <figure>
                            <img src="/img/nomic-whiteboard.jpg" alt="Nomic" />
                        </figure>
                    </div>
                </div>
            </div>
