  <footer>
    <a href="#" class="top"></a>
    <div id="social">
      <div class="container">
        <h2>Connect</h2>
        <h3>Social together</h3>
        <ul>
          <li>
            <p>Follow me and watch me tweet about things and stuff.<a href="http://www.twitter.com/jonathangyc" target="_blank">Follow me on Twitter</a></p>
            <a href="http://www.twitter.com/jonathangyc" class="twitter" target="_blank"></a>
          </li>
          <li>
            <p>Join my professional network and let&rsquo;s be connected.<a href="http://www.linkedin.com/in/jonathangyc" target="_blank">Look me up on LinkedIn</a></p>
            <a href="http://www.linkedin.com/in/jonathangyc" class="linkedin" target="_blank"></a>
          </li>
          <li>
            <p>Join my nonprofessional network and let&rsquo;s be friends.<a href="http://www.facebook.com/jonathangyc" target="_blank">Friend me on Facebook</a></p>
            <a href="http://www.facebook.com/jonathangyc" class="facebook" target="_blank"></a>
          </li>
          <li>
            <p>Follow my progress as I write, push, commit, and regret.<a href="http://www.github.com/jonathangyc" target="_blank">Watch me on GitHub</a></p>
            <a href="http://www.github.com/jonathangyc" class="github"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <p>&copy; {{ site.time | date: "%Y" }} Jonathan Chen. Embrace your Dreams.</p>
      </div>
    </div>
  </footer>