  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Jonathan Chen is your friendly neighborhood UI/UX Designer and Front-end Developer." />
  <meta name="keywords" content="jonathan chen, guan yu chen, jonathan, designer, developer, interface design, ui design, ux design, user experience, user interface, web design, web development, mobile design, responsive design, mobile first, graphic design, logo, branding" />
  <title>Jonathan Chen - {% if page.title %} {{ page.title }} {% else %}UI/UX Designer and Front-end Developer {% endif %}</title>
  <base href="{{ site.baseurl }}" />
  <link href="http://fonts.googleapis.com/css?family=Oswald:400,300%7CLora:400,700,italic400,italic700" rel="stylesheet" type="text/css" />
  <link href="styles/normalize.css" rel="stylesheet" type="text/css" />
  <link href="styles/styles.css" rel="stylesheet" type="text/css" />
  <script src="js/modernizr.respond.min.js"></script>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-25191281-2', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->